<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error Table</title>
    <link rel="stylesheet" href="../static/style.css" />
  </head>

  <body>
    <center>
      <div id="container">
        <p>Your text: {{input_text}}</p>
      </div>

      <div id="errors-container"></div>
      <script>
        const errorsContainer = document.getElementById('errors-container');
        const errorTypes = {};
        const jsonData = {{ error_json | safe }};
        console.log("Meri jhind ", jsonData)
        jsonData.errors.forEach(error => {
            if (!errorTypes[error.type]) {
                errorTypes[error.type] = { count: 0 };
            }
            errorTypes[error.type].count++;

            const errorContainer = document.createElement('div');
            errorContainer.classList.add('error-container');
            errorContainer.innerHTML = `
                <p><strong>Type:</strong> ${error.type}</p>
                <p><strong>Incorrect:</strong> ${error.incorrect}</p>
                <p><strong>Correct:</strong> ${error.correct}</p>
            `;
            errorsContainer.appendChild(errorContainer);
        });

        // Display error counts
        const errorCountsContainer = document.createElement('div');
        errorCountsContainer.innerHTML = '<h3>Error Counts</h3>';
        for (const type in errorTypes) {
            const count = errorTypes[type].count;
            errorCountsContainer.innerHTML += `<p>${type}: ${count}</p>`;
        }
        errorsContainer.prepend(errorCountsContainer);
      </script>
    </center>

    <script src="../static/script.js"></script>
  </body>
</html>
