<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Analyze Text</title>
    <link rel="stylesheet" href="../static/style.css" />
  </head>

  <body>
    <center>
      <div id="container">
        <div class="corrected-box">
          <div class="corrected-text-box">
            <h3>Your Text:</h3>
            <p>{{ input_text }}</p>
          </div>
          <div class="corrected-text-box">
            <h3>Corrected Text:</h3>
            <p>{{ corrected_essay }}</p>
          </div>
          <form action="/error" method="POST">
            <button class="b1" type="submit">Error Analysis</button>
            <input type="hidden" name="input_text" value="{{ input_text }}" />
          </form>
        </div>
      </div>
    </center>
  </body>
</html>
