<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body>
    <div id="container">
      <h2>Your scores</h2>
      <div class="score-box-container">
        <div class="score-box">
          <h3>Bi-Directional LSTM Scores</h3>
          <div class="score-details">
            <div class="score-item">
              <p>Grammar</p>
              <p>{{ '%.2f'|format(prediction[4]) }}/5</p>
            </div>
            <div class="score-item">
              <p>Syntax</p>
              <p>{{ '%.2f'|format(prediction[1]) }}/5</p>
            </div>
            <div class="score-item">
              <p>Vocabulary</p>
              <p>{{ '%.2f'|format(prediction[2]) }}/5</p>
            </div>
            <div class="score-item">
              <p>Cohesion</p>
              <p>{{ '%.2f'|format(prediction[0]) }}/5</p>
            </div>
            <div class="score-item">
              <p>Conventions</p>
              <p>{{ '%.2f'|format(prediction[5]) }}/5</p>
            </div>
            <div class="score-item">
              <p>Phraseology</p>
              <p>{{ '%.2f'|format(prediction[3]) }}/5</p>
            </div>
          </div>
        </div>
        <div class="score-box">
          <h3>Multioutput Regressor Scores</h3>
          <div class="score-details">
            <div class="score-item">
              <p>Grammar</p>
              <p>{{ '%.2f'|format(second_model_prediction[4]) }}/5</p>
            </div>
            <div class="score-item">
              <p>Syntax</p>
              <p>{{ '%.2f'|format(second_model_prediction[1]) }}/5</p>
            </div>
            <div class="score-item">
              <p>Vocabulary</p>
              <p>{{ '%.2f'|format(second_model_prediction[2]) }}/5</p>
            </div>
            <div class="score-item">
              <p>Cohesion</p>
              <p>{{ '%.2f'|format(second_model_prediction[0]) }}/5</p>
            </div>
            <div class="score-item">
              <p>Conventions</p>
              <p>{{ '%.2f'|format(second_model_prediction[5]) }}/5</p>
            </div>
            <div class="score-item">
              <p>Phraseology</p>
              <p>{{ '%.2f'|format(second_model_prediction[3]) }}/5</p>
            </div>
          </div>
        </div>
      </div>
      <form action="/process_text" method="POST">
        <input type="hidden" name="input_text" value="{{ input_text }}" />
        <button type="submit" class="b1">Process Text</button>
      </form>
    </div>
  </body>
</html>
